<?xml version="1.0"?>

<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Basic>
    <Title>Sample01</Title>
    <Buttons>
      <Button X="0" Y="0" Key="NumPad9" />
      <Button X="0" Y="1" Key="NumPad6" />
      <Button X="0" Y="2" Key="NumPad3" />
      <Button X="0" Y="3" Key="NumPad5" />

      <Button X="0" Y="22" Key="Escape" />

      <Button X="0" Y="23" Key="1" />
      <Button X="1" Y="23" Key="2" />
      <Button X="2" Y="23" Key="3" />
      <Button X="3" Y="23" Key="4" />
      <Button X="4" Y="23" Key="5" />

      <Button X="0.5" Y="24" Key="Q" />
      <Button X="1.5" Y="24" Key="W" />
      <Button X="2.5" Y="24" Key="E" />
      <Button X="3.5" Y="24" Key="R" />
      <Button X="4.5" Y="24" Key="T" />

      <Button X="1" Y="25" Key="A" />
      <Button X="2" Y="25" Key="S" />
      <Button X="3" Y="25" Key="D" />
      <Button X="4" Y="25" Key="F" />
      <Button X="5" Y="25" Key="G" />

      <Button X="1.5" Y="26" Key="Z" />
      <Button X="2.5" Y="26" Key="X" />
      <Button X="3.5" Y="26" Key="C" />
      <Button X="4.5" Y="26" Key="V" />
      <Button X="5.5" Y="26" Key="B" />
    </Buttons>
    <WindowLocation X="0" Y="0" />
    <ButtonsAlignment>Left</ButtonsAlignment>
  </Basic>
  <ApplicationGroups>
    <ApplicationGroup Name="CLIP STUDIO PAINT">
      <MatchingRoule>
        <ExeName>ClipStudioPaint.exe</ExeName>
        <WindowTitlePatterns>
          <Pattern>*CLIP STUDIO PAINT</Pattern>
          <Pattern>ショートカット設定</Pattern>
        </WindowTitlePatterns>
      </MatchingRoule>
      <Banks>
        <Bank Name="">
          <Entry Trigger="NumPad9" LabelText="前景" BackColor="#FF66">
            <ActionItem ActionType="Send" ActionValue="d" NextBank="" />
          </Entry>
          <Entry Trigger="NumPad6" LabelText="透明" BackColor="#FF66">
            <ActionItem ActionType="Send" ActionValue="c" NextBank="" />
          </Entry>
          <Entry Trigger="NumPad3" LabelText="キャンセル">
            <ActionItem ActionType="System" ActionValue="Cancel" NextBank="" />
          </Entry>
          <Entry Trigger="NumPad5" LabelText="メニュー">
            <ActionItem ActionType="Menu" ActionValue="menu01" NextBank="" />
          </Entry>

          <Entry Trigger="G" LabelText="選択" BackColor="#800080">
            <ActionItem NextBank="選択" />
          </Entry>
          <Entry Trigger="F" LabelText="投げ輪" BackColor="#0080FF">
            <ActionItem NextBank="投げ輪" />
          </Entry>
          <Entry Trigger="S" LabelText="曲線" BackColor="#008080">
            <ActionItem NextBank="曲線" />
          </Entry>
          <Entry Trigger="A" LabelText="エアブラシ" BackColor="#008000">
            <ActionItem NextBank="エアブラシ" />
          </Entry>
          <Entry Trigger="Q" LabelText="背景用" BackColor="#F45000">
            <ActionItem NextBank="背景用" />
          </Entry>
          <Entry Trigger="4" LabelText="オートアクション" BackColor="#0080C0">
            <ActionItem NextBank="オートアクション" />
          </Entry>
        </Bank>

        <Bank Name="選択">
          <Entry Trigger="Escape" LabelText="キャンセル">
            <ActionItem NextBank="" />
          </Entry>

          <Entry Trigger="G" LabelText="多角形">
            <ActionItem ActionType="Send" ActionValue="g" NextBank="" />
          </Entry>
          <Entry Trigger="D" LabelText="色選択">
            <ActionItem ActionType="Send" ActionValue="u" NextBank="" />
          </Entry>
        </Bank>
        <Bank Name="エアブラシ">
          <Entry Trigger="W" LabelText="三角">
            <ActionItem ActionType="Send" ActionValue="{F17}" NextBank="" />
          </Entry>
          <Entry Trigger="E" LabelText="四角">
            <ActionItem ActionType="Send" ActionValue="{F16}" NextBank="" />
          </Entry>
          <Entry Trigger="A" LabelText="筆圧">
            <ActionItem ActionType="Send" ActionValue="a" NextBank="" />
          </Entry>
          <Entry Trigger="S" LabelText="中間">
            <ActionItem ActionType="Send" ActionValue="{F15}" NextBank="" />
          </Entry>
          <Entry Trigger="D" LabelText="ぼけ">
            <ActionItem ActionType="Send" ActionValue="l" NextBank="" />
          </Entry>
          <Entry Trigger="F" LabelText="水彩">
            <ActionItem ActionType="Send" ActionValue="{F22}" NextBank="" />
          </Entry>
          <Entry Trigger="G" LabelText="コンセプト">
            <ActionItem ActionType="Send" ActionValue="{F23}" NextBank="" />
          </Entry>

        </Bank>

        <Bank Name="曲線">
          <Entry Trigger="Escape" LabelText="キャンセル">
            <ActionItem NextBank="" />
          </Entry>

          <Entry Trigger="D" LabelText="ペン入れ">
            <ActionItem ActionType="Send" ActionValue="{F24}" NextBank="" />
          </Entry>
          <Entry Trigger="S" LabelText="区切り線">
            <ActionItem ActionType="Send" ActionValue="." NextBank="" />
          </Entry>
          <Entry Trigger="A" LabelText="直線">
            <ActionItem ActionType="Send" ActionValue="," NextBank="" />
          </Entry>
          <Entry Trigger="F" LabelText="グラデーション" BackColor="#5669EF">
            <ActionItem ActionType="Send" ActionValue="{F5}" NextBank="" />
          </Entry>

        </Bank>
        <Bank Name="投げ輪">
          <Entry Trigger="Escape" LabelText="キャンセル">
            <ActionItem NextBank="" />
          </Entry>

          <Entry Trigger="F" LabelText="選択">
            <ActionItem ActionType="Send" ActionValue="f" NextBank="" />
          </Entry>
          <Entry Trigger="D" LabelText="塗り">
            <ActionItem ActionType="Send" ActionValue="{F12}" NextBank="" />
          </Entry>
          <Entry Trigger="S" LabelText="移動" BackColor="#E270C9">
            <ActionItem ActionType="Send" ActionValue="m" NextBank="" />
          </Entry>
          <Entry Trigger="A" LabelText="Enter" BackColor="#5AF321">
            <ActionItem ActionType="Send" ActionValue="{Enter}" NextBank="" />
          </Entry>

        </Bank>
        <Bank Name="背景用">
          <Entry Trigger="Escape" LabelText="キャンセル">
            <ActionItem NextBank="" />
          </Entry>

          <Entry Trigger="Q" LabelText="透明水彩R">
            <ActionItem ActionType="Send" ActionValue="{F21}" NextBank="" />
          </Entry>
          <Entry Trigger="S" LabelText="草">
            <ActionItem ActionType="Send" ActionValue="{F20}" NextBank="" />
          </Entry>
          <Entry Trigger="D" LabelText="フラット">
            <ActionItem ActionType="Send" ActionValue="{F19}" NextBank="" />
          </Entry>
          <Entry Trigger="F" LabelText="オイルパステル">
            <ActionItem ActionType="Send" ActionValue="{F18}" NextBank="" />
          </Entry>
          <Entry Trigger="W" LabelText="ぼんやり" BackColor="#E2FAFE">
            <ActionItem ActionType="Send" ActionValue="{F13}" NextBank="" />
          </Entry>
          <Entry Trigger="E" LabelText="桜" BackColor="#FFC6E2">
            <ActionItem ActionType="Send" ActionValue="{F14}" NextBank="" />
          </Entry>

        </Bank>
        <Bank Name="オートアクション">
          <Entry Trigger="Escape" LabelText="キャンセル">
            <ActionItem NextBank="" />
          </Entry>

          <Entry Trigger="1" LabelText="0%" BackColor="#FFFFFF">
            <ActionItem ActionType="Send" ActionValue="^{F1}" NextBank="" />
          </Entry>
          <Entry Trigger="2" LabelText="25%" BackColor="#BFBFBF">
            <ActionItem ActionType="Send" ActionValue="^{F2}" NextBank="" />
          </Entry>
          <Entry Trigger="3" LabelText="50%" BackColor="#7F7F7F">
            <ActionItem ActionType="Send" ActionValue="^{F3}" NextBank="" />
          </Entry>
          <Entry Trigger="4" LabelText="75%" BackColor="#3F3F3F">
            <ActionItem ActionType="Send" ActionValue="^{F4}" NextBank="" />
          </Entry>
          <Entry Trigger="5" LabelText="100%" BackColor="#000000">
            <ActionItem ActionType="Send" ActionValue="^{F5}" NextBank="" />
          </Entry>
          <Entry Trigger="Q" LabelText="レベル補正" BackColor="#8000FF">
            <ActionItem ActionType="Send" ActionValue="^{F6}" NextBank="" />
          </Entry>
          <Entry Trigger="W" LabelText="ｺﾝﾄﾗｽﾄ" BackColor="#80FFFF">
            <ActionItem ActionType="Send" ActionValue="^{F7}" NextBank="" />
          </Entry>
          <Entry Trigger="E" LabelText="彩度" BackColor="#FFFF00">
            <ActionItem ActionType="Send" ActionValue="^u" NextBank="" />
          </Entry>
          <Entry Trigger="R" LabelText="移動" BackColor="#E270C9">
            <ActionItem ActionType="Send" ActionValue="m" NextBank="" />
          </Entry>
          <Entry Trigger="A" LabelText=".png" BackColor="#2962E7">
            <ActionItem ActionType="Send" ActionValue="{NumPad4}" NextBank="" />
          </Entry>
        </Bank>

        <Bank Name="Selection">
          <Entry Trigger="NumPad9" LabelText="Enter" BackColor="#F0FF">
            <ActionItem ActionType="Send" ActionValue="{Enter}" NextBank="" />
          </Entry>
          <Entry Trigger="NumPad6" LabelText="Esc" BackColor="#F0FF">
            <ActionItem ActionType="Send" ActionValue="{Escape}" NextBank="" />
          </Entry>
          <Entry Trigger="NumPad3" LabelText="キャンセル">
            <ActionItem ActionType="System" ActionValue="Cancel" NextBank="" />
          </Entry>
          <Entry Trigger="NumPad5" LabelText="メニュー">
            <ActionItem ActionType="Menu" ActionValue="menu01" NextBank="" />
          </Entry>
        </Bank>
        <Bank Name="Dialog">
          <Entry Trigger="NumPad9" LabelText="Enter" BackColor="#F0FF">
            <ActionItem ActionType="Send" ActionValue="{Enter}" NextBank="" />
          </Entry>
          <Entry Trigger="NumPad6" LabelText="Esc" BackColor="#F0FF">
            <ActionItem ActionType="Send" ActionValue="{Escape}" NextBank="" />
          </Entry>
          <Entry Trigger="NumPad3" LabelText="キャンセル">
            <ActionItem ActionType="System" ActionValue="Cancel" NextBank="" />
          </Entry>
          <Entry Trigger="NumPad5" LabelText="メニュー">
            <ActionItem ActionType="Menu" ActionValue="menu01" NextBank="" />
          </Entry>
        </Bank>
        <Bank Name="BlushSize">
          <Entry Trigger="NumPad9" LabelText="👆" BackColor="#FFFF">
            <ActionItem ActionType="Send" ActionValue="5" NextBank="" />
          </Entry>
          <Entry Trigger="NumPad6" LabelText="👇" BackColor="#FFFF">
            <ActionItem ActionType="Send" ActionValue="3" NextBank="" />
          </Entry>
          <Entry Trigger="NumPad3" LabelText="キャンセル">
            <ActionItem ActionType="System" ActionValue="Cancel" NextBank="" />
          </Entry>
          <Entry Trigger="NumPad5" LabelText="メニュー">
            <ActionItem ActionType="Menu" ActionValue="menu01" NextBank="" />
          </Entry>
        </Bank>
        <Bank Name="UndoRedo">
          <Entry Trigger="NumPad9" LabelText="Redo" BackColor="#F666">
            <ActionItem ActionType="Send" ActionValue="^y" NextBank="" />
          </Entry>
          <Entry Trigger="NumPad6" LabelText="Undo" BackColor="#FAAA">
            <ActionItem ActionType="Send" ActionValue="^z" NextBank="" />
          </Entry>
          <Entry Trigger="NumPad3" LabelText="キャンセル">
            <ActionItem ActionType="System" ActionValue="Cancel" NextBank="" />
          </Entry>
          <Entry Trigger="NumPad5" LabelText="メニュー">
            <ActionItem ActionType="Menu" ActionValue="menu01" NextBank="" />
          </Entry>
        </Bank>
        <Bank Name="表示倍率">
          <Entry Trigger="NumPad9" LabelText="拡大" BackColor="#F666">
            <ActionItem ActionType="Send" ActionValue="2" NextBank="" />
          </Entry>
          <Entry Trigger="NumPad6" LabelText="縮小" BackColor="#FAAA">
            <ActionItem ActionType="Send" ActionValue="@" NextBank="" />
          </Entry>
          <Entry Trigger="NumPad3" LabelText="キャンセル">
            <ActionItem ActionType="System" ActionValue="Cancel" NextBank="" />
          </Entry>
          <Entry Trigger="NumPad5" LabelText="メニュー">
            <ActionItem ActionType="Menu" ActionValue="menu01" NextBank="" />
          </Entry>
        </Bank>
      </Banks>
      <Menus>
        <Menu Name="menu01">
          <MenuItem X="-3" Y="-3" LabelText="表示倍率" BackColor="">
            <ActionItem ActionType="None" ActionValue="" NextBank="表示倍率" />
          </MenuItem>
          <MenuItem X="-2" Y="-3" LabelText="リセット" BackColor="">
            <ActionItem ActionType="Send" ActionValue="1" NextBank="" />
          </MenuItem>
          <MenuItem X="-1" Y="-3" LabelText="左右反転" BackColor="">
            <ActionItem ActionType="Send" ActionValue="h" NextBank="" />
          </MenuItem>
          <MenuItem X="0" Y="-3" LabelText="75%" BackColor="">
            <ActionItem ActionType="Send" ActionValue="^{F4}" NextBank="" />
          </MenuItem>
          <MenuItem X="1" Y="-3" LabelText="100%" BackColor="">
            <ActionItem ActionType="Send" ActionValue="^{F5}" NextBank="" />
          </MenuItem>
          <MenuItem X="2" Y="-3" LabelText="新規レイヤー" BackColor="">
            <ActionItem ActionType="Send" ActionValue="^N" NextBank="" />
          </MenuItem>
          <MenuItem X="3" Y="-3" LabelText="グループ化" BackColor="">
            <ActionItem ActionType="Send" ActionValue="^g" NextBank="" />
          </MenuItem>

          <MenuItem X="-3" Y="-2" LabelText="0%" BackColor="#F888">
            <ActionItem ActionType="Send" ActionValue="^{F1}" NextBank="" />
          </MenuItem>
          <MenuItem X="-2" Y="-2" LabelText="25%" BackColor="#F888">
            <ActionItem ActionType="Send" ActionValue="^{F2}" NextBank="" />
          </MenuItem>
          <MenuItem X="-1" Y="-2" LabelText="50%" BackColor="#F888">
            <ActionItem ActionType="Send" ActionValue="^{F3}" NextBank="" />
          </MenuItem>
          <MenuItem X="0" Y="-2" LabelText="75%" BackColor="#F888">
            <ActionItem ActionType="Send" ActionValue="^{F4}" NextBank="" />
          </MenuItem>
          <MenuItem X="1" Y="-2" LabelText="100%" BackColor="#F888">
            <ActionItem ActionType="Send" ActionValue="^{F5}" NextBank="" />
          </MenuItem>
          <MenuItem X="2" Y="-2" LabelText="新規レイヤー" BackColor="#FF88">
            <ActionItem ActionType="Send" ActionValue="^N" NextBank="" />
          </MenuItem>
          <MenuItem X="3" Y="-2" LabelText="グループ化" BackColor="#F88F">
            <ActionItem ActionType="Send" ActionValue="^g" NextBank="" />
          </MenuItem>

          <MenuItem X="-3" Y="-1" LabelText="レベル補正" BackColor="#F666">
            <ActionItem ActionType="Send" ActionValue="^{F6}" NextBank="Dialog" />
          </MenuItem>
          <MenuItem X="-2" Y="-1" LabelText="ｺﾝﾄﾗｽﾄ" BackColor="#F666">
            <ActionItem ActionType="Send" ActionValue="^{F7}" NextBank="Dialog" />
          </MenuItem>
          <MenuItem X="-1" Y="-1" LabelText="彩度" BackColor="#F666">
            <ActionItem ActionType="Send" ActionValue="^u" NextBank="Dialog" />
          </MenuItem>
          <MenuItem X="0" Y="-1" LabelText="移動" BackColor="#F6F6">
            <ActionItem ActionType="Send" ActionValue="m" NextBank="" />
          </MenuItem>
          <MenuItem X="1" Y="-1" LabelText=".png" BackColor="#F666">
            <ActionItem ActionType="Key" ActionValue="{NumPad4}" NextBank="" />
          </MenuItem>
          <MenuItem X="2" Y="-1" LabelText=".jpg" BackColor="#F666">
            <ActionItem ActionType="Send" ActionValue="{NumPad0}" NextBank="" />
          </MenuItem>
          <MenuItem X="3" Y="-1" LabelText="保存" BackColor="#F666">
            <ActionItem ActionType="Send" ActionValue="^s" NextBank="" />
          </MenuItem>

          <MenuItem X="3" Y="0" LabelText="No ActionItem">
          </MenuItem>
          <MenuItem X="2" Y="0" LabelText="Undo / Redo">
            <ActionItem ActionType="None" ActionValue="" NextBank="UndoRedo" />
          </MenuItem>
          <MenuItem X="1" Y="0" LabelText="ブラシサイズ" BackColor="white">
            <ActionItem ActionType="None" ActionValue="" NextBank="BlushSize" />
          </MenuItem>
          <MenuItem X="0" Y="0" LabelText="閉じる" BackColor="#FF0000FF">
            <ActionItem ActionType="None" />
          </MenuItem>
          <MenuItem X="-1" Y="0" LabelText="多角形">
            <ActionItem ActionType="Send" ActionValue="g" NextBank="Selection" />
          </MenuItem>
          <MenuItem X="-2" Y="0" LabelText="色選択">
            <ActionItem ActionType="Send" ActionValue="u" NextBank="Selection" />
          </MenuItem>
          <MenuItem X="-3" Y="0" LabelText="投げ輪">
            <ActionItem ActionType="Send" ActionValue="f" NextBank="" />
          </MenuItem>

          <MenuItem X="-4" Y="1" LabelText="B01" BackColor="#F33F">
            <ActionItem ActionType="Send" ActionValue="w" NextBank=" q" />
          </MenuItem>
          <MenuItem X="-3" Y="1" LabelText="コンセプト">
            <ActionItem ActionType="Send" ActionValue="{F23}" NextBank="" />
          </MenuItem>
          <MenuItem X="-2" Y="1" LabelText="水彩">
            <ActionItem ActionType="Send" ActionValue="{F22}" NextBank="" />
          </MenuItem>
          <MenuItem X="-1" Y="1" LabelText="ぼけ">
            <ActionItem ActionType="Send" ActionValue="l" NextBank="" />
          </MenuItem>
          <MenuItem X="0" Y="1" LabelText="中間">
            <ActionItem ActionType="Send" ActionValue="{F15}" NextBank="" />
          </MenuItem>
          <MenuItem X="1" Y="1" LabelText="筆圧">
            <ActionItem ActionType="Send" ActionValue="a" NextBank="" />
          </MenuItem>
          <MenuItem X="2" Y="1" LabelText="■">
            <ActionItem ActionType="Send" ActionValue="{F16}" NextBank="" />
          </MenuItem>
          <MenuItem X="3" Y="1" LabelText="▲">
            <ActionItem ActionType="Send" ActionValue="{F17}" NextBank="" />
          </MenuItem>

          <MenuItem X="3" Y="2" LabelText="ペン入れ">
            <ActionItem ActionType="Send" ActionValue="{F24}" NextBank="Selection" />
          </MenuItem>
          <MenuItem X="2" Y="2" LabelText="区切り線">
            <ActionItem ActionType="Send" ActionValue="." NextBank="Selection" />
          </MenuItem>
          <MenuItem X="1" Y="2" LabelText="直線">
            <ActionItem ActionType="Send" ActionValue="," NextBank="Selection" />
          </MenuItem>
          <MenuItem X="0" Y="2" LabelText="グラデーション">
            <ActionItem ActionType="Send" ActionValue="{F5}" NextBank="" />
          </MenuItem>
          <MenuItem X="-1" Y="2" LabelText="選択">
            <ActionItem ActionType="Send" ActionValue="f" NextBank="" />
          </MenuItem>
          <MenuItem X="-2" Y="2" LabelText="塗り">
            <ActionItem ActionType="Send" ActionValue="{F12}" NextBank="" />
          </MenuItem>
          <MenuItem X="-3" Y="2" LabelText="移動">
            <ActionItem ActionType="Send" ActionValue="m" NextBank="" />
          </MenuItem>

          <MenuItem X="-3" Y="3" LabelText="" BackColor="#6F6">
          </MenuItem>
          <MenuItem X="-2" Y="3" LabelText="" BackColor="#6F6">
          </MenuItem>
          <MenuItem X="-1" Y="3" LabelText="" BackColor="#6F6">
          </MenuItem>
          <MenuItem X="0" Y="3" LabelText="再読み込み" BackColor="#6F6">
            <ActionItem ActionType="System" ActionValue="ReloadConfig" NextBank="" />
          </MenuItem>
          <MenuItem X="1" Y="3" LabelText="" BackColor="#6F6">
          </MenuItem>
          <MenuItem X="2" Y="3" LabelText="" BackColor="#6F6">
          </MenuItem>
          <MenuItem X="3" Y="3" LabelText="" BackColor="#6F6">
          </MenuItem>
        </Menu>
      </Menus>
    </ApplicationGroup>
  </ApplicationGroups>
</Config>