<?xml version="1.0"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Basic>
    <Title>Sample01</Title>
    <ResetKey>NumPad5</ResetKey>
    <Buttons>
      <Button X="0" Y="0" Key="NumPad9" />
      <Button X="0" Y="1" Key="NumPad6" />
      <Button X="0" Y="2" Key="NumPad3" />
      <Button X="0" Y="3" Key="NumPad5" />
      <Button X="8" Y="8" Key="NumPad8" />
    </Buttons>
    <WindowLocation X="99999" Y="0" />
  </Basic>
  <ApplicationGroups>
    <ApplicationGroup Name="CLIP STUDIO PAINT">
      <MatchingRoule>
        <ExeName>ClipStudioPaint.exe</ExeName>
        <WindowTitlePatterns>
          <Pattern>*CLIP STUDIO PAINT</Pattern>
          <Pattern>ショートカット設定</Pattern>
        </WindowTitlePatterns>
      </MatchingRoule>
      <Banks>
        <Bank Name="">
          <Entry Trigger="NumPad9" LabelText="前景" BackColor="#FF0000FF">
            <ActionItem ActionType="Send" ActionValue="太郎冠者" />
          </Entry>
          <Entry Trigger="NumPad6" LabelText="背景" BackColor="#FF00FF00">
            <ActionItem ActionType="Send" ActionValue="次郎冠者" NextBank="Bank02" />
          </Entry>
          <Entry Trigger="NumPad3" LabelText="メニュー" BackColor="#FFFF0000">
            <ActionItem ActionType="Menu" ActionValue="menu01" />
          </Entry>
        </Bank>
        <Bank Name="Bank02">
          <Entry Trigger="NumPad9" LabelText="前景02" BackColor="#FF0000F0">
            <ActionItem ActionType="Send" ActionValue="仮面ライダーブラックRX" />
          </Entry>
          <Entry Trigger="NumPad6" LabelText="背景02" BackColor="#FF00F000">
            <ActionItem ActionType="Send" ActionValue="信彦" NextBank="Bank02" />
          </Entry>
        </Bank>
      </Banks>
      <Menus>
        <Menu Name="menu01">
          <MenuItem X="0" Y="0" LabelText="閉じる" BackColor="#FF0000FF">
            <ActionItem ActionType="None" />
          </MenuItem>
          <MenuItem X="1" Y="0" LabelText="前景" BackColor="#FF0000FF">
            <ActionItem ActionType="None" />
          </MenuItem>
          <MenuItem X="-1" Y="0" LabelText="背景" BackColor="#FF00FF00">
            <ActionItem ActionType="Send" ActionValue="信彦" NextBank="Bank02" />
          </MenuItem>
        </Menu>
      </Menus>
    </ApplicationGroup>
  </ApplicationGroups>
</Config>